name: Deploy ArgoCD

env:
    ARGOCD_SERVER:

on:
  workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest
    outputs:
        ARGOCD_SERVER: ${{ steps.argocd-server.outputs.ARGOCD_SERVER }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install ArgoCD CLI
        run: |
          wget https://github.com/argoproj/argo-cd/releases/latest/download/argocd-linux-amd64 -O /usr/local/bin/argocd
          chmod +x /usr/local/bin/argocd

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Login to Azure
        id: azure_login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Get credentials
        run: az aks get-credentials --resource-group re-teoSchool-djiby --name aks-djiby

      - name: Check if namespace argocd already exists
        id: check_namespace
        run: |
          if kubectl get namespace argocd &> /dev/null; then
            echo "::set-output name=namespace_exists::true"
          else
            echo "::set-output name=namespace_exists::false"
          fi

      - name: Create a namespace for ArgoCD if it doesn't exist
        if: steps.check_namespace.outputs.namespace_exists == 'false'
        run: kubectl create namespace argocd

      - name: Install ArgoCD
        run: kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml

      - name: Get IP public
        run: |
            kubectl patch svc argocd-server -n argocd -p '{"spec": {"type": "LoadBalancer"}}'

      - name: Wait for ArgoCD components to be ready
        run: kubectl wait --for=condition=Available deployment -n argocd --all --timeout=600s      
        
      - name: Get LoadBalancer IP
        id: argocd-server 
        run: |
          sleep 10
          ARGOCD_SERVER=$(kubectl get svc/argocd-server -n argocd -o=jsonpath='{.status.loadBalancer.ingress[*].ip}')
          echo "ARGOCD_SERVER=$ARGOCD_SERVER" >> "$GITHUB_OUTPUT"
          echo "L'adresse IP du service argocd-server est : $ARGOCD_SERVER"

      - name: Get default admin password
        id: get_argocd_password
        run: |
          ARGOCD_PASSWORD=$(kubectl -n argocd get secret argocd-initial-admin-secret -o jsonpath='{.data.password}' | base64 --decode)
          echo "::set-output name=argocd_password::${ARGOCD_PASSWORD}"

      - name: Check if the current ArgoCD password matches the secret
        id: check_password
        run: echo "::set-output name=password_matches::${{ steps.get_argocd_password.outputs.argocd_password == secrets.ARGOCD_PWD }}"

      - name: Create App Teoschool 
        run: kubectl apply -f app-teoschool-argocd.yaml

      - name: Password change
        run: |
            argocd login ${{ steps.argocd-server.outputs.ARGOCD_SERVER }} --username=admin --password=${{ steps.get_argocd_password.outputs.argocd_password }} --insecure
            argocd account update-password --current-password=${{ steps.get_argocd_password.outputs.argocd_password }} --new-password=${{ secrets.ARGOCD_PWD }}
          # argocd login ${{ steps.argocd-server.outputs.ARGOCD_SERVER }} --username=admin --password=${{ secrets.ARGOCD_PWD }} --insecure